$center: 0 auto;

//widths and heights
$site-width: 980px;
$banner-footer-width: 1280px;
$footer-height: 100px;
$banner-height: 500px;
$home-form-width: 818px;

//colors 
$site-blue: #79ADDC;
$site-white: #FFFFFF;
$site-black: #000000;

//buttons